USE [master]
GO
/****** Object:  Database [QLHS_HP]    Script Date: 13/08/22 12:35:29 PM ******/
CREATE DATABASE [QLHS_HP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHS_HP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLHS_HP.mdf' , SIZE = 10304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLHS_HP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLHS_HP_log.ldf' , SIZE = 10368KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHS_HP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHS_HP]
GO
/****** Object:  User [BOT.HP]    Script Date: 13/08/22 12:35:29 PM ******/
CREATE USER [BOT.HP] FOR LOGIN [BOT.HP] WITH DEFAULT_SCHEMA=[db_owner]
GO
ALTER ROLE [db_owner] ADD MEMBER [BOT.HP]
GO
/****** Object:  UserDefinedFunction [dbo].[fConvertToUnsign]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fConvertToUnsign] (@strInput NVARCHAR(4000)) RETURNS NVARCHAR(4000) AS 
BEGIN 
	
	IF @strInput IS NULL RETURN @strInput 
	
	IF @strInput = '' RETURN @strInput 
	
	DECLARE @RT NVARCHAR(4000) 
	
	DECLARE @SIGN_CHARS NCHAR(136) 
	
	DECLARE @UNSIGN_CHARS NCHAR (136) 
	
	SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) 
	
	SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' 
	
	DECLARE @COUNTER int 
	
	DECLARE @COUNTER1 int 
	
	SET @COUNTER = 1 
	WHILE (@COUNTER <=LEN(@strInput)) 
	BEGIN 
		SET @COUNTER1 = 1 
		
		WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) 
		BEGIN 
			IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) 
			BEGIN 
			IF @COUNTER=1 
				SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) 
			ELSE 
				SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) 
			BREAK 
			END 
			SET @COUNTER1 = @COUNTER1 +1 
		END 
		
		SET @COUNTER = @COUNTER +1 

	END
	--SET @strInput = replace(@strInput,' ','-')
	RETURN @strInput
END

GO
/****** Object:  UserDefinedFunction [dbo].[fGetExtFileName]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fGetExtFileName](@stFileName NVARCHAR(MAX)) RETURNS NVARCHAR(20) AS 
BEGIN
	SET @stFileName = REVERSE(@stFileName)
	DECLARE @i INT
	SET @i = CHARINDEX('.', @stFileName,  1)
	RETURN REVERSE(LEFT(@stFileName,@i))	  
END

GO
/****** Object:  UserDefinedFunction [dbo].[fTaoMSCV]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tạo Functions
CREATE FUNCTION [dbo].[fTaoMSCV](@stFirstMSCV NVARCHAR(1), @dNGAYCV DATE) RETURNS NVARCHAR(20) AS
-- Tạo MSCV với định dạng F.yyyymmdd.xxx hoặc T.yyyymmdd.xxx trong đó:
-- stFirstMSCV (F: Công văn đến, T: Công văn đi); dNGAYCV (yyyymmdd)
BEGIN
	DECLARE @stMSCV NVARCHAR(20)

	DECLARE @tTemp TABLE(MSCV NVARCHAR(20))

	INSERT INTO @tTemp SELECT MSCV FROM dbo.tCongVan WHERE (NGAYCV=@dNGAYCV AND LEFT(MSCV,1)=@stFirstMSCV)

	DECLARE @stNGAYCV NVARCHAR(8)
	SET @stNGAYCV = CAST(YEAR(@dNGAYCV) AS NVARCHAR) +  CAST(MONTH(@dNGAYCV) AS NVARCHAR) + CAST(DAY(@dNGAYCV) AS NVARCHAR)
	
	IF @@ROWCOUNT=0 --Không có MSCV trong ngày dNGAYCV
	BEGIN
		SET @stMSCV =@stFirstMSCV + '.' + @stNGAYCV + '.' + CAST(1 AS NVARCHAR)
		RETURN @stMSCV
    END
	
	DECLARE @i INT
	SET @i=1
	DECLARE @stMSCVTemp NVARCHAR(20)	
	SET @stMSCVTemp =@stFirstMSCV + '.' + @stNGAYCV + '.'

	WHILE @@ROWCOUNT>0		
	BEGIN
		SET @stMSCV =@stMSCVTemp + CAST(@i AS NVARCHAR)
		IF ((SELECT COUNT(MSCV) FROM @tTemp WHERE MSCV = @stMSCV)=0) RETURN @stMSCV
		DELETE @tTemp WHERE MSCV=@stMSCV
		SET @i = @i+1				
    END
	RETURN @stMSCVTemp + CAST(@i AS NVARCHAR)
END

GO
/****** Object:  Table [dbo].[tCongVan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCongVan](
	[MSCV] [nvarchar](20) NOT NULL,
	[SOCV] [nvarchar](50) NOT NULL,
	[NGAYCV] [date] NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[NOIDUNG_Unsign] [nvarchar](max) NULL,
	[MSNV] [nvarchar](12) NOT NULL,
	[MSLOAICV] [int] NOT NULL,
	[MSCQ] [int] NOT NULL,
	[MSGIAIDOAN] [int] NOT NULL,
	[MSCVCHA] [nvarchar](20) NULL,
	[FILEPDF] [nvarchar](20) NULL,
	[FILEOFFICE] [nvarchar](20) NULL,
	[FILERAR] [nvarchar](20) NULL,
	[PHEDUYET] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MSCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCoQuan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCoQuan](
	[MSCQ] [int] IDENTITY(1,1) NOT NULL,
	[TENCQ] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSCQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tGiaiDoan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGiaiDoan](
	[MSGIAIDOAN] [int] IDENTITY(1,1) NOT NULL,
	[GIAIDOAN] [nvarchar](max) NOT NULL,
	[MSCVGOC] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSGIAIDOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tLoaiCV]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLoaiCV](
	[MSLOAICV] [int] IDENTITY(1,1) NOT NULL,
	[LOAICV] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSLOAICV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[UVW_CongVan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UVW_CongVan]
AS SELECT	cv.*, lcv.LOAICV, cq.TENCQ, gd.GIAIDOAN
	FROM	dbo.tLoaiCV lcv, dbo.tCoQuan cq, dbo.tGiaiDoan gd, dbo.tCongVan cv 
	WHERE	lcv.MSLOAICV = cv.MSLOAICV AND cq.MSCQ = cv.MSCQ AND gd.MSGIAIDOAN = cv.MSGIAIDOAN

GO
/****** Object:  Table [dbo].[tGiaoViec]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGiaoViec](
	[MSCVGIAOVIEC] [nvarchar](20) NOT NULL,
	[MSNVGIAOVIEC] [nvarchar](12) NOT NULL,
	[CHIDAO] [nvarchar](max) NULL,
	[NGAYGIO] [datetime] NULL,
	[THONGBAO] [bit] NULL,
 CONSTRAINT [PK_tGiaoViec] PRIMARY KEY CLUSTERED 
(
	[MSCVGIAOVIEC] ASC,
	[MSNVGIAOVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[UVW_GiaoViec]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo View
CREATE VIEW [dbo].[UVW_GiaoViec]
AS SELECT	cv.MSCV, CV.SOCV, CV.NGAYCV, CV.NOIDUNG, gv.CHIDAO, gv.NGAYGIO, CV.PHEDUYET, 
			CV.NOIDUNG_Unsign, CV.FILEPDF, CV.FILEOFFICE,CV.FILERAR, gv.MSNVGIAOVIEC, GV.THONGBAO
	FROM	dbo.tGiaoViec gv, dbo.tCongVan cv 
	WHERE	CV.MSCV = GV.MSCVGIAOVIEC AND CV.PHEDUYET=0

GO
/****** Object:  Table [dbo].[tDangNhap]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDangNhap](
	[MSNVLOGIN] [nvarchar](12) NULL,
	[NGAYGIOVAO] [datetime] NOT NULL,
	[NGAYGIORA] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDuoiCV]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDuoiCV](
	[MSDUOICV] [int] IDENTITY(1,1) NOT NULL,
	[DUOICV] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSDUOICV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MSNV] [nvarchar](12) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[QUYENTRUYCAP] [nvarchar](2) NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[HIEULUC] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tThongSo]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tThongSo](
	[MSTS] [nvarchar](12) NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[STR_DATA] [nvarchar](max) NOT NULL,
	[STR_PATH] [nvarchar](max) NOT NULL,
	[HIEULUC] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MSTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [indexNgayCV]    Script Date: 13/08/22 12:35:29 PM ******/
CREATE NONCLUSTERED INDEX [indexNgayCV] ON [dbo].[tCongVan]
(
	[NGAYCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tCongVan] ADD  DEFAULT (getdate()) FOR [NGAYCV]
GO
ALTER TABLE [dbo].[tCongVan] ADD  DEFAULT ('haint') FOR [MSNV]
GO
ALTER TABLE [dbo].[tCongVan] ADD  DEFAULT ((1)) FOR [MSLOAICV]
GO
ALTER TABLE [dbo].[tCongVan] ADD  DEFAULT ((1)) FOR [MSCQ]
GO
ALTER TABLE [dbo].[tCongVan] ADD  DEFAULT ((1)) FOR [MSGIAIDOAN]
GO
ALTER TABLE [dbo].[tCongVan] ADD  DEFAULT ((0)) FOR [PHEDUYET]
GO
ALTER TABLE [dbo].[tCoQuan] ADD  DEFAULT (N'Chưa xác định') FOR [TENCQ]
GO
ALTER TABLE [dbo].[tDangNhap] ADD  DEFAULT (getdate()) FOR [NGAYGIOVAO]
GO
ALTER TABLE [dbo].[tDuoiCV] ADD  DEFAULT (N'CV ĐI') FOR [DUOICV]
GO
ALTER TABLE [dbo].[tGiaiDoan] ADD  DEFAULT (N'Chưa xác định') FOR [GIAIDOAN]
GO
ALTER TABLE [dbo].[tGiaoViec] ADD  DEFAULT ((1)) FOR [THONGBAO]
GO
ALTER TABLE [dbo].[tLoaiCV] ADD  DEFAULT (N'Chưa xác định') FOR [LOAICV]
GO
ALTER TABLE [dbo].[tNhanVien] ADD  DEFAULT (N'new user') FOR [HOTEN]
GO
ALTER TABLE [dbo].[tNhanVien] ADD  DEFAULT ('NV') FOR [QUYENTRUYCAP]
GO
ALTER TABLE [dbo].[tNhanVien] ADD  DEFAULT ('2003011414115776479911161271372042013444') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[tNhanVien] ADD  DEFAULT ((1)) FOR [HIEULUC]
GO
ALTER TABLE [dbo].[tThongSo] ADD  DEFAULT ((0)) FOR [HIEULUC]
GO
ALTER TABLE [dbo].[tCongVan]  WITH CHECK ADD FOREIGN KEY([MSCQ])
REFERENCES [dbo].[tCoQuan] ([MSCQ])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tCongVan]  WITH CHECK ADD FOREIGN KEY([MSGIAIDOAN])
REFERENCES [dbo].[tGiaiDoan] ([MSGIAIDOAN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tCongVan]  WITH CHECK ADD FOREIGN KEY([MSLOAICV])
REFERENCES [dbo].[tLoaiCV] ([MSLOAICV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tCongVan]  WITH CHECK ADD FOREIGN KEY([MSNV])
REFERENCES [dbo].[tNhanVien] ([MSNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tGiaoViec]  WITH CHECK ADD FOREIGN KEY([MSCVGIAOVIEC])
REFERENCES [dbo].[tCongVan] ([MSCV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tGiaoViec]  WITH CHECK ADD FOREIGN KEY([MSNVGIAOVIEC])
REFERENCES [dbo].[tNhanVien] ([MSNV])
GO
ALTER TABLE [dbo].[tGiaoViec]  WITH CHECK ADD FOREIGN KEY([MSNVGIAOVIEC])
REFERENCES [dbo].[tNhanVien] ([MSNV])
GO
/****** Object:  StoredProcedure [db_owner].[USP_ThemCongvanMSCV]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [db_owner].[USP_ThemCongvanMSCV] 
	@stMSCV NVARCHAR(20),
	@stFILEPDF NVARCHAR(MAX)	
AS
BEGIN
	IF (LEFT(UPPER(@stMSCV),2) != 'FF' OR LEFT(UPPER(@stMSCV),2) != 'FT')
	BEGIN
		IF NOT EXISTS(SELECT MSCV FROM dbo.tCongVan WHERE MSCV = @stMSCV)
		BEGIN
			INSERT INTO  dbo.tCongVan
			(	
				MSCV, SOCV, NGAYCV, MSNV, MSLOAICV, MSCQ, MSGIAIDOAN, MSCVCHA, FILEPDF, PHEDUYET
			)
			VALUES
			( 
				@stMSCV, 'SOCV', GETDATE(), 13, 1, 1, 8, 'F1231', @stFILEPDF, 1
			)
		END
	END
	SELECT @stMSCV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CapNhatCayCV]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapNhatCayCV]
@stMSCV_SOURCE NVARCHAR(20) = NULL,
@stMSCV_DEST NVARCHAR(20) = NULL
AS
BEGIN
	IF (@stMSCV_SOURCE IS NULL AND @stMSCV_DEST IS NULL )
		BEGIN
			UPDATE tCongVan SET MSCVCHA='' --Reset tCongVan
			UPDATE tCongVan SET MSCVCHA = gd.MSCVGOC FROM tGiaiDoan gd WHERE tCongVan.MSGIAIDOAN = gd.MSGIAIDOAN
			UPDATE tCongVan SET MSCVCHA ='' WHERE MSCV IN (SELECT MSCVGOC FROM tGiaiDoan)
		END
	ELSE
		BEGIN
			UPDATE tCongVan SET MSCVCHA = @stMSCV_DEST WHERE MSCVCHA = @stMSCV_SOURCE
			UPDATE tCongVan SET MSCVCHA = '' WHERE MSCV = @stMSCV_DEST			
		END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CapnhatCoQuan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapnhatCoQuan]
	@iID INT,
	@stNOIDUNG NVARCHAR(50)
AS
BEGIN
	IF EXISTS(SELECT MSCQ FROM dbo.tCoQuan WHERE MSCQ = @iID)
		UPDATE dbo.tCoQuan SET TENCQ = @stNOIDUNG  WHERE MSCQ = @iID
	ELSE
		INSERT INTO dbo.tCoQuan (TENCQ) VALUES (@stNOIDUNG)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CapnhatDuoiCV]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapnhatDuoiCV]
	@iID INT,
	@stNOIDUNG NVARCHAR(50)
AS
BEGIN
	IF EXISTS(SELECT MSDUOICV FROM dbo.tDuoiCV WHERE MSDUOICV = @iID)	
		UPDATE dbo.tDuoiCV SET DUOICV = @stNOIDUNG  WHERE MSDUOICV = @iID
	ELSE
		INSERT INTO dbo.tDuoiCV (DUOICV) VALUES (@stNOIDUNG)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CapnhatGiaiDoan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapnhatGiaiDoan]
	@iID INT,
	@stNOIDUNG NVARCHAR(50),
	@stMSCVGOC NVARCHAR(20)=NULL
AS
BEGIN
	IF @stMSCVGOC IS NULL
		BEGIN
			IF EXISTS(SELECT MSGIAIDOAN FROM dbo.tGiaiDoan WHERE MSGIAIDOAN = @iID)
				UPDATE dbo.tGiaiDoan SET GIAIDOAN = @stNOIDUNG  WHERE MSGIAIDOAN = @iID
			ELSE
				INSERT INTO dbo.tGiaiDoan (GIAIDOAN) VALUES (@stNOIDUNG)
		END
	ELSE
		BEGIN
			IF EXISTS(SELECT MSGIAIDOAN FROM dbo.tGiaiDoan WHERE MSGIAIDOAN = @iID)
				UPDATE dbo.tGiaiDoan SET GIAIDOAN = @stNOIDUNG, MSCVGOC = @stMSCVGOC WHERE MSGIAIDOAN = @iID
			ELSE
				INSERT INTO dbo.tGiaiDoan (GIAIDOAN, MSCVGOC) VALUES (@stNOIDUNG, @stMSCVGOC)
		END
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CapnhatGiaoViec]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapnhatGiaoViec]
@stMSCV NVARCHAR(20),
@stMSNV NVARCHAR(12),
@stCHIDAO NVARCHAR(MAX) = '',
@bTHONGBAO bit
AS
BEGIN
	IF EXISTS(SELECT * FROM dbo.tGiaoViec WHERE MSCVGIAOVIEC = @stMSCV AND MSNVGIAOVIEC = @stMSNV) --Đã tồn tại
		UPDATE dbo.tGiaoViec SET CHIDAO = @stCHIDAO WHERE  MSCVGIAOVIEC = @stMSCV AND MSNVGIAOVIEC = @stMSNV	
	ELSE
		INSERT INTO dbo.tGiaoViec (MSCVGIAOVIEC, MSNVGIAOVIEC, CHIDAO, NGAYGIO, THONGBAO) VALUES (@stMSCV, @stMSNV, @stCHIDAO, GETDATE(), @bTHONGBAO )
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CapnhatLoaiCV]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapnhatLoaiCV]
	@iID INT,
	@stNOIDUNG NVARCHAR(50)
AS
BEGIN
	IF EXISTS(SELECT MSLOAICV FROM dbo.tLoaiCV WHERE MSLOAICV = @iID)
		UPDATE dbo.tLoaiCV SET LOAICV = @stNOIDUNG  WHERE MSLOAICV = @iID
	ELSE
		INSERT INTO dbo.tLoaiCV (LOAICV) VALUES (@stNOIDUNG)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CapnhatMatkhau]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapnhatMatkhau] @stMSNV NVARCHAR(12), @stPassWord NVARCHAR(MAX)
AS
BEGIN
	IF ((@stMSNV IS NOT NULL) AND  (@stPassWord IS NOT NULL))
		UPDATE dbo.tNhanVien SET PASSWORD=@stPassWord WHERE MSNV=@stMSNV
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CapnhatNhanVien]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapnhatNhanVien]
	 @stMSNV NVARCHAR(12), 
	 @stHOTEN NVARCHAR(50), 
	 @stQUYENTRUYCAP NVARCHAR(2),
	 @stEMAIL NVARCHAR(50), 
	 @bHIEULUC bit  
AS
BEGIN
	IF EXISTS(SELECT MSNV FROM dbo.tNhanVien WHERE MSNV = @stMSNV)
		UPDATE dbo.tNhanVien SET HOTEN = @stHOTEN, QUYENTRUYCAP = @stQUYENTRUYCAP, EMAIL = @stEMAIL, HIEULUC = @bHIEULUC WHERE MSNV = @stMSNV
	ELSE
	BEGIN
		IF EXISTS(SELECT MSNV FROM dbo.tNhanVien WHERE MSNV = 'USER')
			DELETE FROM dbo.tNhanVien WHERE MSNV = 'USER'
		INSERT INTO dbo.tNhanVien (MSNV, HOTEN, PASSWORD, QUYENTRUYCAP, EMAIL, HIEULUC) VALUES (@stMSNV, @stHOTEN,'2003011414115776479911161271372042013444', @stQUYENTRUYCAP, @stEMAIL, @bHIEULUC)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[USP_CapnhatThongSo]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CapnhatThongSo]
@stMSTS NVARCHAR(12), 
@stNOIDUNG NVARCHAR(MAX), 
@stSTR_DATA NVARCHAR(MAX), 
@stSTR_PATH NVARCHAR(MAX), 
@bHIEULUC bit 
AS
BEGIN
	IF EXISTS(SELECT MSTS FROM dbo.tThongSo WHERE MSTS = @stMSTS)
		UPDATE dbo.tThongSo SET NOIDUNG = @stNOIDUNG, STR_DATA = @stSTR_DATA, STR_PATH = @stSTR_PATH, HIEULUC = @bHIEULUC WHERE MSTS = @stMSTS
	ELSE
		INSERT INTO dbo.tThongSo (MSTS, NOIDUNG, STR_DATA, STR_PATH, HIEULUC) VALUES (@stMSTS, @stNOIDUNG, @stSTR_DATA, @stSTR_PATH, @bHIEULUC)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Login] @stMSNV NVARCHAR(12) = NULL, @stPassWord NVARCHAR(MAX) = NULL
AS
BEGIN
	IF ((@stMSNV IS NOT NULL) AND  (@stPassWord IS NOT NULL))
		SELECT MSNV FROM dbo.tNhanVien WHERE MSNV=@stMSNV AND PASSWORD=@stPassWord AND HIEULUC=1
END

GO
/****** Object:  StoredProcedure [dbo].[USP_SoCV]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SoCV]
@dNGAYCVTU DATE,	
@dNGAYCVDEN DATE,
@stLOAICV NVARCHAR(1)
AS
BEGIN
	SELECT	cv.MSCV, cv.SOCV, cv.NGAYCV, cv.NOIDUNG, lcv.LOAICV, cq.TENCQ 
	FROM	dbo.tLoaiCV lcv, dbo.tCoQuan cq, dbo.tCongVan cv 
	WHERE	lcv.MSLOAICV = cv.MSLOAICV AND cq.MSCQ = cv.MSCQ AND
			(cv.NGAYCV BETWEEN @dNGAYCVTU AND @dNGAYCVDEN) AND
			LEFT(cv.MSCV,1) = @stLOAICV
	ORDER BY NGAYCV ASC
END

GO
/****** Object:  StoredProcedure [dbo].[USP_SuaCongvan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SuaCongvan] 
	@stMSCV NVARCHAR(20) ='',
	@stSOCV NVARCHAR(50) = '',
	@stNOIDUNG NVARCHAR(MAX) = '',
	@dNGAYCV DATE = GETDATE,	
	@iMSLOAICV INT =1,
	@iMSCQ INT =1,
	@iMSGIAIDOAN INT = 1,
	@stMSCVCHA NVARCHAR(20) = '',
	@stFILEPDF NVARCHAR(MAX) = '',
	@stFILEOFFICE NVARCHAR(MAX) = '',
	@stFILERAR NVARCHAR(MAX) = ''	
AS
BEGIN				
	IF (CHARINDEX('\', @stFILEPDF)>0) 
		SET @stFILEPDF = @stMSCV + dbo.fGetExtFileName(@stFILEPDF)
	
	IF (CHARINDEX('\', @stFILEOFFICE)>0) 
		SET @stFILEOFFICE = @stMSCV + dbo.fGetExtFileName(@stFILEOFFICE)
	
	IF (CHARINDEX('\', @stFILERAR)>0)  
		SET @stFILERAR = @stMSCV + dbo.fGetExtFileName(@stFILERAR)
	
	UPDATE dbo.tCongVan	SET	SOCV = @stSOCV,
							NOIDUNG = @stNOIDUNG,
							NOIDUNG_Unsign = dbo.fConvertToUnsign(@stNOIDUNG),
							NGAYCV = @dNGAYCV, 
							MSLOAICV = @iMSLOAICV, 
							MSCQ = @iMSCQ, 
							MSGIAIDOAN = @iMSGIAIDOAN, 
							MSCVCHA = @stMSCVCHA, 
							FILEPDF = @stFILEPDF, 
							FILEOFFICE = @stFILEOFFICE, 
							FILERAR = @stFILERAR
					  WHERE	MSCV = @stMSCV	
END

GO
/****** Object:  StoredProcedure [dbo].[USP_ThemCongvan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ThemCongvan] 
	@stFirstMSCV NVARCHAR(1) ='F',
	@stSOCV NVARCHAR(50) = '',
	@stNOIDUNG NVARCHAR(MAX) = '',
	@dNGAYCV DATE = NULL,
	@stMSNV NVARCHAR(12)= '',
	@iMSLOAICV INT =1,
	@iMSCQ INT =1,
	@iMSGIAIDOAN INT = 1,
	@stMSCVCHA NVARCHAR(20) = '',
	@stFILEPDF NVARCHAR(MAX) = '',
	@stFileOFFICE NVARCHAR(MAX) = '',
	@stFileRAR NVARCHAR(MAX) = ''	
AS
BEGIN	
	DECLARE @stMSCV NVARCHAR(20)	
	SET @stMSCV = dbo.fTaoMSCV(@stFirstMSCV, @dNGAYCV)
		
	IF (@stFILEPDF <> '')
	BEGIN
		DECLARE @stExtFILEPDF NVARCHAR(20)
		SET @stExtFILEPDF = dbo.fGetExtFileName(@stFILEPDF)
		SET @stFILEPDF = @stMSCV + @stExtFILEPDF
	END
	 
	IF (@stFILEOFFICE <>'')
	BEGIN
		DECLARE @stExtFILEOFFICE NVARCHAR(20)
		SET @stExtFILEOFFICE = dbo.fGetExtFileName(@stFILEOFFICE)
		SET @stFILEOFFICE = @stMSCV + @stExtFILEOFFICE
	END
	
	IF (@stFILERAR <>'')
	BEGIN
		DECLARE @stExtFILERAR NVARCHAR(20)	
		SET @stExtFILERAR = dbo.fGetExtFileName(@stFILERAR)
		SET @stFILERAR = @stMSCV + @stExtFILERAR
	END

	IF (@dNGAYCV IS NULL)
		SET @dNGAYCV = GETDATE()
		
	INSERT INTO  dbo.tCongVan
	(	
		MSCV, SOCV, NOIDUNG, NOIDUNG_Unsign, NGAYCV, MSNV, MSLOAICV, MSCQ, MSGIAIDOAN, MSCVCHA, FILEPDF, FILEOFFICE, FILERAR
	)
	VALUES
	( 
		@stMSCV, @stSOCV, @stNOIDUNG, dbo.fConvertToUnsign(@stNOIDUNG), @dNGAYCV, @stMSNV, @iMSLOAICV, @iMSCQ, @iMSGIAIDOAN, @stMSCVCHA, @stFILEPDF, @stFILEOFFICE, @stFILERAR
	)

	SELECT @stMSCV
END

GO
/****** Object:  StoredProcedure [dbo].[USP_ThemNhanVien]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ThemNhanVien]
	 @stMSNV NVARCHAR(12),
	 @stHOTEN NVARCHAR(50)
AS
BEGIN
	IF NOT EXISTS(SELECT MSNV FROM dbo.tNhanVien WHERE MSNV = @stMSNV)
		INSERT INTO dbo.tNhanVien (MSNV, HOTEN, QUYENTRUYCAP, EMAIL, PASSWORD, HIEULUC) VALUES (@stMSNV, @stHOTEN, 'NV', '', '2003011414115776479911161271372042013444',1)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_TimkiemCongvan]    Script Date: 13/08/22 12:35:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_TimkiemCongvan] --Tìm công văn và trả về MSCV, SOCV, NOIDUNG để đưa vào dtgvCongvan 	
	@stNOIDUNG NVARCHAR(MAX) = NULL,
	@iMSLOAICV INT = NULL, 
	@iMSCQ INT = NULL,
	@iMSGIAIDOAN INT =NULL,	
	@dNGAYCVTU DATE = NULL,	
	@dNGAYCVDEN DATE = NULL,
	@bTimkhongdau BIT = 0 
AS
BEGIN
	
	SET @stNOIDUNG = IIF(@stNOIDUNG IS NULL,'%', '%' + @stNOIDUNG + '%')

	SET @iMSLOAICV = IIF(@iMSLOAICV IS NULL, 0, @iMSLOAICV)

	SET @iMSCQ = IIF(@iMSCQ IS NULL, 0, @iMSCQ)

	SET @iMSGIAIDOAN = IIF(@iMSGIAIDOAN IS NULL, 0, @iMSGIAIDOAN)
		 
	IF @dNGAYCVTU IS NULL
		SELECT @dNGAYCVTU = MIN(NGAYCV) FROM dbo.tCongVan

	IF @dNGAYCVDEN IS NULL
		SELECT @dNGAYCVDEN = MAX(NGAYCV) FROM dbo.tCongVan

	IF (@bTimkhongdau = 0)	
		SELECT *	FROM	dbo.tCongVan
					WHERE	(NOIDUNG LIKE @stNOIDUNG) AND 
							((@iMSLOAICV=0) OR (MSLOAICV = @iMSLOAICV)) AND 
							((@iMSCQ =0) OR (MSCQ = @iMSCQ)) AND 
							((@iMSGIAIDOAN =0) OR (MSGIAIDOAN = @iMSGIAIDOAN)) AND 
							(NGAYCV BETWEEN @dNGAYCVTU AND @dNGAYCVDEN) AND 
							(PHEDUYET = 1 OR MSCV LIKE 'F%')
	ELSE
		SELECT *	FROM	dbo.tCongVan
					WHERE	(NOIDUNG_Unsign LIKE @stNOIDUNG) AND 
							((@iMSLOAICV=0) OR (MSLOAICV = @iMSLOAICV)) AND 
							((@iMSCQ =0) OR (MSCQ = @iMSCQ)) AND 
							((@iMSGIAIDOAN =0) OR (MSGIAIDOAN = @iMSGIAIDOAN)) AND 
							(NGAYCV BETWEEN @dNGAYCVTU AND @dNGAYCVDEN) AND
							(PHEDUYET =1 OR MSCV LIKE 'F%')
END

GO
USE [master]
GO
